{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/JMartinez0404"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/joel-martinez0404/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>This is where my Copyright would go...if I had one!</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->